* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

img,
a {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

